body {
  background-color: #f8f8f8;
}

.container {
  margin: 24px;
}

.card {
  width: 400px;
  background-color: white;
  border: 1px solid white;
  padding: 24px;
  text-align: center;
}
.id-title h1 {
  background-color: #eeeeee;
  margin: 0 0 12px 0;
  padding: 12px 0;
  width: 100%;
  box-sizing: border-box;
}

.profile-img-container {
  width: 100%;
  height: 250px;
  margin-bottom: 16px;
}
.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h2 {
  margin: 12px 0;
}
